################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/Desenrola.Domain/Entities/Evaluation.cs
