################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
Backend/Desenrola.Application/Features/Providers/Commands/CreateProviderCommand/CreateProviderCommandHandler.cs
